/*::::::::::::::::::::::::::::::::::::::::
::::::::::  Mobile Layout CSS  :::::::::::
::::::::::::::::::::::::::::::::::::::::*/

.contact-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D0D38F;
}



/*::::::::::::::::::::::::::::::::::::::::
::::::  Desktop/Laptop Layout CSS  :::::::
::::::::::::::::::::::::::::::::::::::::*/

@media (min-width: 1280px) {

.contact-container {
    min-height: 92.05vh;
}


}