/*::::::::::::::::::::::::::::::::::::::::
::::::::::  Mobile Layout CSS  :::::::::::
::::::::::::::::::::::::::::::::::::::::*/

.calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #D0D38F;
}


.calendar__img-vertical {
    align-self: center;
    height: 550px;
    width: 95%;
}



/*::::::::::::::::::::::::::::::::::::::::
::::::  Desktop/Laptop Layout CSS  :::::::
::::::::::::::::::::::::::::::::::::::::*/

@media (min-width: 1125px) {

.calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 92.05vh;
}


.calendar__img {
    align-self: center;
    height: 610px;
    width: 75%;
}

}