/*::::::::::::::::::::::::::::::::::::::::
::::::::::  Mobile Layout CSS  :::::::::::
::::::::::::::::::::::::::::::::::::::::*/

.stations-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
    background-color: #D0D38F;
}


.stations__heading {
    margin: 5vh 0 0;
    font-family: 'Poiret One', cursive;
    font-size: 2.05em;
}


.stations__listings {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.stations_icon {
    height: 125px;
    width: 125px;
    margin: 2vh 0;
}



/*::::::::::::::::::::::::::::::::::::::::
::::::  Desktop/Laptop Layout CSS  :::::::
::::::::::::::::::::::::::::::::::::::::*/

@media (min-width: 1280px) {

.stations-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 92.05vh;
}


.stations__heading {
    margin: 0 0;
    font-family: 'Poiret One', cursive;
    font-size: 3.25em;
}


.stations__listings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.stations_icon {
    height: 225px;
    width: 225px;
}


.stations__text {
    font-family: 'Zilla Slab', serif;
    font-size: 1.75em;
}


}