/*::::::::::::::::::::::::::::::::::::::::
::::::::::  Mobile Layout CSS  :::::::::::
::::::::::::::::::::::::::::::::::::::::*/

.landing-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D0D38F;
}


.landing-page__heading {
    align-self: flex-end;
    margin: 2.25vh 4vw 0 0;
    font-family: 'Poiret One', cursive;
    font-size: 1.4em;
}


.landing-page__animated-button {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
}


.svg__play {
    height: 275px;
    width: 275px;
}


.svg__play-circle {
    fill: #D0D38F;
    stroke-width: 0.25;
    transition: transform 0.5s ease, fill 0.5s ease, stroke-width 0.5s ease;
    transform-origin: center;
}


.svg__play-button {
    stroke-width: 0.25;
    transition: stroke-width 0.5s ease;
}


svg:hover .svg__play-circle {
    fill: #928fd3;
    transform: scale(0.9875);
    transform-origin: center;
}


svg:hover .svg__play-button {
    fill: #bdbbe4;
    stroke-width: 0.5;
    transition: stroke-width 0.5s ease, fill 0.5 ease;
}


.landing-page__podcast-label {
    margin: 0 0 2.25vh 4vw;
}


.landing-page__podcast-label p,
.landing-page__podcast-label ul {
    list-style-type: none;
    font-family: 'Zilla Slab', serif;
    text-align: left;
}


.landing-page__podcast-label p {
    margin: 0 0 0.5vh 0;
    font-size: 1.35em;
    font-weight: 600;
}


.landing-page__podcast-label ul {
    padding-left: 5px;
    font-size: 1.15em;
}



/*::::::::::::::::::::::::::::::::::::::::
::::::  Desktop/Laptop Layout CSS  :::::::
::::::::::::::::::::::::::::::::::::::::*/

@media (min-width: 1280px) {

.landing-page-container {
    min-height: 92.05vh;
}


.landing-page__heading {
    align-self: flex-end;
    margin: 3.5vh 4vw 0 0;
    font-family: 'Poiret One', cursive;
    font-size: 3.25em;
}


.landing-page__heading::after {
    content: " • PODCAST FOR LOUISVILLE MUSLIMS"
}


.landing-page__heading:last-of-type {
    display: none;
}


.svg__play {
    height: 375px;
    width: 375px;
}


.landing-page__podcast-label p {
    margin: 0 0 0.5vh 0;
    font-size: 1.85em;
    font-weight: 600;
}


.landing-page__podcast-label ul li {
    display: inline;
    margin: 0 0.75vw;
    padding-left: 5px;
    font-size: 1.65em;
}


}