/*::::::::::::::::::::::::::::::::::::::::
::::::::::  Mobile Layout CSS  :::::::::::
::::::::::::::::::::::::::::::::::::::::*/

.nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 7.25vh;
    width: 100%;
    border-top: #928fd3 5.25px solid;
    background-color: #bdbbe4;
}


.nav-bar__social-icons,
.nav-bar__organizational-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}


.nav-bar__svg {
    align-self: center;
    margin: 0 1.75vw;
}


.svg-instagram,
.svg-substack,
.svg-facebook {
    transition: transform 1.25s ease, fill 0.75s ease;
}


.svg-instagram:hover,
.svg-substack:hover,
.svg-facebook:hover {
    transform: rotate(360deg) scale(1.25);
    transform-origin: center;
}


.svg-instagram:hover {
    color: #c32aa3;
    fill: #F4F4F4;
}


.svg-substack:hover {
    color: #FF7731;
}


.svg-facebook:hover {
    color: #1877f2;
    fill: #F4F4F4;
}



/*::::::::::::::::::::::::::::::::::::::::
::::::  Desktop/Laptop Layout CSS  :::::::
::::::::::::::::::::::::::::::::::::::::*/

@media (min-width: 1280px) {

    .nav-bar__social-icons::before {
        content: "Social";
        align-self: center;
        font-family: 'Poiret One', cursive;
        font-size: 0.725em;
        font-weight: 600;
        transform: rotate(90deg);
        transition: transform 1.25s ease;
    }


    .nav-bar__social-icons:hover::before {
        transform: rotate(0deg) scale(1.5);
        transition: transform 1.25s ease;
    }


    .nav-bar__organizational-icons::before {
        content: "Navigate";
        align-self: center;
        font-family: 'Poiret One', cursive;
        font-size: 0.725em;
        font-weight: 600;
        transform: rotate(90deg);
        transition: transform 1.25s ease;
    }


    .nav-bar__organizational-icons:hover::before {
        transform: rotate(0deg) scale(1.5);
        transition: transform 1.25s ease;
    }
    

    .svg-instagram,
    .svg-substack,
    .svg-facebook {
        transition: transform 1.25s ease, fill 0.75s ease;
    }


    .svg-instagram:hover,
    .svg-substack:hover,
    .svg-facebook:hover {
        transform: rotate(360deg) scale(1.25);
        transform-origin: center;
    }


    .svg-instagram:hover {
        color: #c32aa3;
        fill: #F4F4F4;
    }


    .svg-substack:hover {
        color: #FF7731;
    }


    .svg-facebook:hover {
        color: #1877f2;
        fill: #F4F4F4;
    }

}