/*::::::::::::::::::::::::::::::::::::::::
::::::::::  Mobile Layout CSS  :::::::::::
::::::::::::::::::::::::::::::::::::::::*/

.nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 7.25vh;
    width: 100%;
    border-top: #928fd3 5.25px solid;
    background-color: #bdbbe4;
}


.nav-bar__social-icons,
.nav-bar__organizational-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}


.nav-bar__svg {
    align-self: center;
    margin: 0 1.75vw;
}



/*::::::::::::::::::::::::::::::::::::::::
::::::  Desktop/Laptop Layout CSS  :::::::
::::::::::::::::::::::::::::::::::::::::*/

@media (min-width: 1280px) {

    .nav-bar__social-icons::after {
        content: "Social Media";
        position: absolute;
        font-family: 'Poiret One', cursive;
        font-size: 1em;
        font-weight: 600;
    }

    .nav-bar__organizational-icons::after {
        content: "Navigation";
        position: absolute;
        font-family: 'Poiret One', cursive;
        font-size: 1em;
        font-weight: 600;
    }
    
    .svg-instagram,
    .svg-substack,
    .svg-facebook {
        transition: transform 0.75s ease;
    }

    .svg-instagram:hover,
    .svg-substack:hover,
    .svg-facebook:hover {
        transform: scale(1.25);
        transform-origin: center;
    }

}